{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Z37</title>
  <meta charset="utf-8">
  <link href="{% static 'styles/styles.css' %}" rel="stylesheet"/>
  <link href="{% static 'images/logo.png' %}" rel="shortcut icon" type="image/png"/>

</head>

<body>

    <div class="flat">
    <a href="/"><img alt="Logo" height="75rem" src="{% static 'images/logo.png' %}"></a>
    </div>
           <nav>
              {% if not user.is_anonymous %}
               <h2 align="left">
        <a href="/o/sign-out">Выйти</a>
               </h2>
               {% endif %}
               {% if user.is_anonymous %}
        <h2 align="left">
        <a href="/o/sign-in">Войти</a>
        <a href="/o/sign-up">Регистрация</a></h2>
               {% endif %}
    <a href="/">Стартовая страница</a>
   <a href="/h">Hello app</a>
        <a href="/b">Блог</a>

    </nav>

    {% if not user.is_anonymous %}
    <p>Привет, {{user.username}}</p>
    {% endif %}
  <hr>

<main>
{% block main %} {% endblock %}
</main>
<header>

</header>
</body>
</html>
