body{
    background-color: #F0FFFF;
}
#header{
    background-color: #fff;
}
.h1{
    font-size: 300px;
    color: #000;
    text-align: left;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.p{
    font-size: 100px;
    color: #000;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.links {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 15px 25px;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  transition: 0.4s ease-in-out;

  }


.likes {
  grid-column: 9/11;
  grid-row: 10/11;
  user-select: none;
}
.not-liked::before {
  content: "💛\00a0";
}

.liked::before {
  content: "❤️\00a0";
}