body{
    background-color: #F0FFFF;
}
#header{
    background-color: #fff;
}
.h1{
    font-size: 600px;
    color: #000;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}