{% extends "_base.html" %}
{% load static %}
{% block main %}
  <script src="{% static 'blog/scripts/blog.js' %}"></script>
 <h1>All posts</h1>

{% if not user.is_anonymous %}
<form method="post" action="{% url 'blog:new_post' %}">
   <p>
    <label for="id_title">Title</label>
    <input id="id_title" type="text" name="title">
   </p>
       <p>
    <label for="id_content">Content</label>
    <input id="id_content" type="text" name="content">
   </p>
      <button>Send</button>
   <p>{% csrf_token %}</p>
</form>
{% endif %}

{% if user.is_superuser %}
<form method="post" action="{% url 'blog:reset_all' %}">
  <p>
  <button type="submit">Reset</button>
  </p>
  <p>{% csrf_token %}</p>
    </form>
{% endif %}

{% for object in object_list %}
 <article>
   <h2>{{object.title}}</h2>
   <p>{{object.content}}</p>
   <p>{{object.created_at}}</p>
   <span class="likes liked" onclick="like(this, '{{ object.get_absolute_url }}');">{{ object.nr_likes }}</span>
   <p style='font-size:25px ; font-family: Comic Sans MS'>Author: {{object.author.username}}</p>
      {% if user.is_superuser or object.author == user %}
     <form method="post" action="{% url 'blog:post_delete' pk=object.pk %}">
  <p><button type="submit">Delete</button></p>
    <p>{% csrf_token %}</p>
    </form>

     <form action="{% url 'blog:post' pk=object.pk %}">
  <p><button type="submit">Update</button></p>
    <p>{% csrf_token %}</p>
    </form>
 </article>
{% endif %}
{% endfor %}

<p><a href="/">Стартовая страница</a></p>
{% endblock %}